name: SonarQube + Semgrep Combined Scan 

on:
  workflow_call:
    inputs:
      sonarProjectKey:
        required: true
        type: string
      isRepoPublic:
        required: false
        type: boolean
        default: false
    secrets:
      SONAR_TOKEN:
        required: true
      SONAR_HOST_URL:
        required: true
      SEMGREP_APP_TOKEN:
        required: true

permissions:
  contents: read
  pull-requests: write



jobs:
  sonarqube-scan:
    uses: ./.github/workflows/sonarqube.yaml
    with:
      projectKey: ${{ inputs.sonarProjectKey }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  semgrep-scan:
    uses: ./.github/workflows/semgrep.yaml
    with: 
      encryption: ${{ inputs.isRepoPublic }}
    secrets:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

