name: Semgrep Reusable Workflow for lund repos

on:
  workflow_call:
    secrets:
      SEMGREP_APP_TOKEN:
        required: true


jobs:
  semgrep:
    name: Semgrep Static Analysis
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'   # skip bot scans of depandabot
    container:
      image: returntocorp/semgrep
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep and capture JSON
        run: semgrep ci --json > semgrep-results.json  # Run Semgrep and save results to a JSON file

      - name: Fail if Semgrep found vulnerabilities
        run: semgrep ci --error # exit when we have vulnerability


      - name: Upload Semgrep JSON results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-results
          path: semgrep-results.json




