name: Semgrep Reusable Workflow for lund repos

on:
  workflow_call:
    secrets:
      SEMGREP_APP_TOKEN:
        required: true


jobs:
  semgrep:
    name: Semgrep Static Analysis
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'   # skip bot scans from Dependabot
    container:
      image: returntocorp/semgrep
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep and fail on findings if we have vulnerabilities
        run: |
          semgrep ci --json > semgrep-results.json
          findings=$(jq '.results | length' semgrep-results.json) 
          echo " Semgrep found $findings issue(s)"
          if [ "$findings" -gt 0 ]; then
            echo "Vulnerabilities found. Failing the pipeline."
            exit 1
          else
            echo "No vulnerabilities found."
          fi

      - name: Upload Semgrep JSON results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-results
          path: semgrep-results.json



